<div>
        <div class="row">
                <div class="col s2"></div>
                <div class="col s8 left-align">
                        {{#if article}}
                        {{#each article}}
                        <div class="card-panel">
                                <img src={{img}}>
                                <h5>{{title}}</h5>
                                <a href={{link}} class="waves-effect waves-light btn #ef9a9a red lighten-3"><i
                                                class="material-icons left" id={{title}}>add_circle</i>Read More </a>

                                {{#if saved}}
                                <a class="saveArticle waves-effect waves-light btn #ef9a9a red lighten-3"
                                        data-state="true" data-id={{_id}}><i
                                                class="material-icons left">add_circle</i>Save
                                </a>
                                {{else}}
                                <a class="saveArticle waves-effect waves-light btn #ef9a9a red lighten-3"
                                        data-state="false" data-id={{_id}}><i
                                                class="material-icons left">add_circle</i>Save
                                </a>

                                {{/if}}
                                {{!-- <a href='/saved' class="waves-effect waves-light btn #ef9a9a red lighten-3"><i
                                                class="material-icons left" data-id={{_id}}>add_circle</i>Add/View Notes
                                </a> --}}
                        </div>
                        {{/each}}
                        {{else}}
                        <h3> {{nothing}} </h3>
                        <a href='/scrape' class="waves-effect waves-light btn #ef9a9a red lighten-3"><i
                                        class="material-icons left">add_circle</i>{{nothing}}</a>
                        {{/if}}
                </div>
        </div>
</div>