<div>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s8 left-align">
            {{#if article}}
            {{#each article}}
            <div class="card-panel">
                <img src={{img}}>
                </a>
                <h5>{{title}}</h5>
                <a href={{link}} class="waves-effect waves-light btn #ef9a9a red lighten-3"><i
                        class="material-icons left" data-state="false" id={{title}}>add_circle</i>Read More </a>

            </div>
            {{/each}}
            {{else}}
            <a class="waves-effect waves-light btn #ef9a9a red lighten-3"><i
                    class="material-icons left">add_circle</i>{{nothing}}</a>
            {{/if}}
        </div>
    </div>